<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @section.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @section.description %>
</p>

<p>
  <strong>Icon:</strong>
  <%= @section.icon %>
</p>

<p>
  <strong>Mode:</strong>
  <%= @section.mode %>
</p>

<p>
  <strong>Sub menu:</strong>
  <%= @section.sub_menu %>
</p>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
