<p id="notice"><%= notice %></p>

<h1>Top Menus</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Icon</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @top_menus.each do |top_menu| %>
      <tr>
        <td><%= top_menu.title %></td>
        <td><%= top_menu.description %></td>
        <td><%= top_menu.icon %></td>
        <td><%= link_to 'Show', top_menu %></td>
        <td><%= link_to 'Edit', edit_top_menu_path(top_menu) %></td>
        <td><%= link_to 'Destroy', top_menu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Top Menu', new_top_menu_path %>
