<p id="notice"><%= notice %></p>

<h1>Sub Menus</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Icon</th>
      <th>Top menu</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sub_menus.each do |sub_menu| %>
      <tr>
        <td><%= sub_menu.title %></td>
        <td><%= sub_menu.description %></td>
        <td><%= sub_menu.icon %></td>
        <td><%= sub_menu.top_menu %></td>
        <td><%= link_to 'Show', sub_menu %></td>
        <td><%= link_to 'Edit', edit_sub_menu_path(sub_menu) %></td>
        <td><%= link_to 'Destroy', sub_menu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sub Menu', new_sub_menu_path %>
